/*
        CORES
    - #A5C89E > verde escuro (header)
    - #FFFBB1 > background (geral)
    - #D8E983 > background (texto)
    - #AEB877 > footer (?)
    
*/ 

body{
    font-family: "Neuton", serif;
    background-color: #FFFBB1;
}

#menu{
    display: flex;
    justify-content: space-between;
    background-color: #A5C89E;
    padding: 10px;
    font-size: 25px;
}

ul{
    display: flex;
    list-style: none;
    padding: 10;
    margin: 0;
}

.logo{
 font-weight: bold;
 color: #f0ffa7;
}
.redirecionamentos{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.redirecionamentos a{
    padding: 3px;
color: #f7ffce;
text-decoration:none;
border-radius: 400px;
transition: background-color 0.3s;
}

.redirecionamentos a:hover{
    background-color: #718a6c;
    border-radius: 400px;
}

.textobanner{
    text-align: center;
    color: #273d23;
    font-weight: bold;
}


.banner img{
    width: 70%;
}

.apresentacao{
    text-align: center;
  background-color: #D8E983;
}
.centro{
    color: #273d23;
}
.conteudo{
    color: #273d23;
}

.apresentacao img{
    width: 270px;
    height: 270px;
    border-radius: 20%;
    transition: 0.5s;
}

.apresentacao img:hover{
    width: 330px;
    height: 330px;
    border-radius: 20%;
}

.botao button{
    background-color: #A5C89E;
    border-radius: 30px;
    padding: 10px 20px;
    color: #112c0c;
    cursor: pointer;
}


footer{
    bottom: 0;
    width: 100%;
    height:40px;
    text-align: center;
    background-color: #718a6c;
    font-weight: bold;
    color: rgb(204, 255, 180);
}



/*------------------------
        INSCRIÇÃO
--------------------------
*/

.formulario{
    width: 50%;
    margin: 10px auto;
    padding: 30px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #A5C89E;
    background-color: #f7ffce;
    text-align: center;
}

.formulario h1{
    text-align: center;
    color: #112c0c;
}

label{
    display:block;
    color: #112c0c;
    font-weight:bold;
}
input{
    margin: 5px;
    padding: 5px;
    border-style:solid;
    border-radius:6px;
    border-width: 1px;
    border-color: #dbdbdb;
    text-align: center;
    background-color: #fcfffb;
    color: #112c0c;
}
select{
    margin: 5px;
    padding: 5px;
    border-style:solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #dbdbdb;
    background-color: #fcfffb;
    color: #112c0c;
}

textarea{
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #dbdbdb;
    color: #273d23;
}
.botao-inscricao{
    display:block;
    justify-self: center;
   background-color: #fcfffb;
   margin: 5px;
   padding: 5px;
   border-style: solid;
   border-radius: 6px;
   border-width: 1px;
   border-color: #dbdbdb;
   color:#112c0c;
   font-weight: bold;
   cursor: pointer;
   transition: 0.7s;
}

.botao-inscricao:hover{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    color: #112c0c
}



/*------------------------
        PROGRAMAÇÃO
--------------------------
*/


.programacao h1{
    text-align: center;
    color: #112c0c;
}


.agenda{
    display: flex;
    justify-content: space-between;
}
.dia{
 background: #a7ec91;
}
.dia h2{
    background-color: #112c0c;
    color: rgb(204, 255, 180);
    text-align: center;
    padding: 10px;
    margin: 0;
}
.dia p{
    align-items: center;
    text-align: center;
    padding: 8px;
    margin: 2px;
    color: #112c0c;
    font-weight: bold;
}


/*------------------------
        PALESTRANTES
--------------------------
*/





.palestrantes h1{
    text-align: center;
    color: #112c0c;
}

.cards{
display: flex;
text-align: center;
background-color: #112c0c;
border-radius: 20px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
transition: 0.5s;
}

.card img:hover {
    width: 230px;
    height: 230px;
  border-radius: 30%;
  transition: 0.3s;
}
.card h2{
background-color: #718a6c;
color: #f7ffce;
padding: 10px;
margin: 0;
font-weight: bold;
}

.card p{
    font-weight: bold;
    padding: 30px;
    margin: 0;
    background-color: #cada7b;
    color: #112c0c;
}

@media(max-width: 720px){
    #menu{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        text-align: center;
        font-size: 35px;
    }   
    
    .palestrantes h1{
        text-align: center;
    }
    .cards{
        display: block;
    }

    .agenda{
        display: block;
    }
}